<a href="https://colab.research.google.com/github/AbdullahTheAnalyst/Data-Science-and-AI-mohir_dev-/blob/NumPy-and-Pandas/DS_pandas_1_amaliyot_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1-mashq**. `Pandas` kutubxonasini `pd`, `numpy` kutubxonasini `np` deb chaqirib oling

In [1]:
# Javobni shuyerga yozing
import pandas as pd
import numpy as np

### **2-mashq.** O'zbekiston Respublikasi viloyatlaridan iborat bir o'lchamli Series obyektini yarating

In [14]:
# Javobni shu yerga yozing
regions = ["Xorazm", "Navoiy", "Buxoro", "Samarqand", "Qashqadaryo", "Surxondaryo", "Jizzax", "Sirdaryo", "Toshkent", "Farg'ona", "Andijon", "Namangan"]
sorted_region = regions.sort()
regions_s = pd.Series(regions)
regions_s

0         Andijon
1          Buxoro
2        Farg'ona
3          Jizzax
4        Namangan
5          Navoiy
6     Qashqadaryo
7       Samarqand
8        Sirdaryo
9     Surxondaryo
10       Toshkent
11         Xorazm
dtype: object

### **3-mashq.** Yuqorida yaratilgan Series obyektining barcha qiymaltarini chiqaring

In [8]:
# Javobni shuyerga yozing
regions_s.values

array(['Andijon', 'Buxoro', "Farg'ona", 'Jizzax', 'Namangan', 'Navoiy',
       'Qashqadaryo', 'Samarqand', 'Sirdaryo', 'Surxondaryo', 'Toshkent',
       'Xorazm'], dtype=object)

### **4-mashq.** Yuqoridagi Series obyektining eng birinchi qiymatini chiqaring

In [9]:
# Javobni shuyerga yozing
regions_s [0]

'Andijon'

### **5-mashq.** Yuqoridagi Series obyektining eng oxirgi qiymatini chiqaring

In [10]:
# Javobni shuyerga yozing
regions_s.iloc[-1]

'Xorazm'

### **6-mashq.** Yuqoridagi Series obyekti uzunligini chiqaring

In [11]:
# Javobni shuyerga yozing
regions_s.size

12

### **7-mashq.** Yuqoridagi Series obyektining o'rtasidan 3 ta qiymat chiqaring

In [13]:
# Javobni shuyerga yozing
regions_s [[5, 6, 7]]

5         Navoiy
6    Qashqadaryo
7      Samarqand
dtype: object

### **8-mashq.** Quyidagi Series obyektini yarating.
**Ahamiyat bering. `Series` obyekti indeksi sifatida viloyatlar nomi ishlatilgan**

In [21]:
# Javobni shuyerga yozing
regions = ["Xorazm", "Navoiy", "Buxoro", "Samarqand", "Qashqadaryo", "Surxondaryo",
           "Jizzax", "Sirdaryo", "Toshkent", "Farg'ona", "Andijon", "Namangan"]
aholi = [
    1899000,
    1384700,
    2597000,
    910500,
    1200000,
    1862000,
    767500,
    2029000,
    2322000,
    648100,
    1676000,
    4450000, ]
obj2 = pd.Series(aholi, index = regions)

### **9-mashq.** Yuqoridagi `Series` obyektidan Jizzax, Buxoro va Namangan viloyatlarining aholisini chiqaring

In [23]:
# Javobni shuyerga yozing
obj2 [["Jizzax", "Buxoro", "Namangan"]]

Jizzax       767500
Buxoro      2597000
Namangan    4450000
dtype: int64

### **10-mashq.** Yuqoridagi `Series` obyektidan aholi soni 1 milliondan kam va ko'p bo'lgan viloyatlarni alohida chiqaring

In [27]:
# Javobni shuyerga yozing
kop = obj2[obj2 > 1000000]
print(kop)

Xorazm         1899000
Navoiy         1384700
Buxoro         2597000
Qashqadaryo    1200000
Surxondaryo    1862000
Sirdaryo       2029000
Toshkent       2322000
Andijon        1676000
Namangan       4450000
dtype: int64

In [28]:
kam = obj2[obj2 < 1000000]
print(kam)

Samarqand    910500
Jizzax       767500
Farg'ona     648100
dtype: int64

### **11-mashq.** Aholisi 1 milliondan ko'p davlatlar orasida Navoiy viloyati bor/yo'qligini tekshiring

In [29]:
# Javobni shuyerga yozing
"Navoiy" in obj2 [obj2 > 1000000]

True

### **12-mashq.** Quyidagi lug'atda viloyatlar va ularning maydonlari berilgan. Lug'atdan yangi `Series` obyektini yarating va unga "Hududlar hajmi" deb nom bering

In [31]:
# Javobni shuyerga yozing
dict = {
    "Andijon": 4200,
    "Buxoro": 39400,
    "Farg'ona": 6800,
    "Jizzax": 20500,
    "Xorazm": 6300,
    "Namangan": 7900,
    "Navoiy": 110800,
    "Qashqadaryo": 28400,
    "Qoraqalpog'iston Respublikasi": 160000,
    "Samarqand": 16400,
    "Sirdaryo": 5100,
    "Surxondaryo": 20800,
    "Toshkent": 15300,
}
kv_metr = pd.Series(dict, name = "Hududlar hajmi")
kv_metr

Andijon                            4200
Buxoro                            39400
Farg'ona                           6800
Jizzax                            20500
Xorazm                             6300
Namangan                           7900
Navoiy                           110800
Qashqadaryo                       28400
Qoraqalpog'iston Respublikasi    160000
Samarqand                         16400
Sirdaryo                           5100
Surxondaryo                       20800
Toshkent                          15300
Name: Hududlar hajmi, dtype: int64

### **13-mashq.** Yuqoridagi `Series` obyektidan hududi eng katta va eng kichik elementlarni chiqaring

In [32]:
# Javobni shuyerga yozing
kv_metr.max()

160000

In [35]:
kv_metr.min()

4200

### **14-mashq.** Yuqoridagi eng katta va eng kichik hududlar aholisi sonini chiqaring

In [39]:
obj2.max()

4450000

In [40]:
obj2.min()

648100

### **15-mashq**. Yuqoridagi hudulardan O'zbekiston Respublikasi hududini hisoblang

In [42]:
# Javobni shuyerga yozing
sum(kv_metr)

441900

### **16-mashq.** Aholisi eng ko'p va eng kam hududlarning hajmini va aholi sonini chiqaring

In [45]:
# Javobni shuyerga yozing
pd.Series(obj2, name = "Aholi soni")

Xorazm         1899000
Navoiy         1384700
Buxoro         2597000
Samarqand       910500
Qashqadaryo    1200000
Surxondaryo    1862000
Jizzax          767500
Sirdaryo       2029000
Toshkent       2322000
Farg'ona        648100
Andijon        1676000
Namangan       4450000
Name: Aholi soni, dtype: int64

In [46]:
kv_metr

Andijon                            4200
Buxoro                            39400
Farg'ona                           6800
Jizzax                            20500
Xorazm                             6300
Namangan                           7900
Navoiy                           110800
Qashqadaryo                       28400
Qoraqalpog'iston Respublikasi    160000
Samarqand                         16400
Sirdaryo                           5100
Surxondaryo                       20800
Toshkent                          15300
Name: Hududlar hajmi, dtype: int64

In [49]:
kop_aholi = obj2.max()
kam_aholi = obj2.min()
kop_hajm = kv_metr.max()
kam_hajm = kv_metr.min()
print(f"O'zbekistonda kam sonli aholi {kam_aholi} ta va kam hajmli viloyat esa {kam_hajm} kv.m ga teng.")
print(f"O'zbekistonda ko'p sonli aholi {kop_aholi} ta va ko'p hajmli viloyat esa {kop_hajm} kv.m ga teng.")

O'zbekistonda kam sonli aholi 648100 ta va kam hajmli viloyat esa 4200 kv.m ga teng.
O'zbekistonda ko'p sonli aholi 4450000 ta va ko'p hajmli viloyat esa 160000 kv.m ga teng.

### **17-mashq.** Yuqoridagi ikki obyektdan foydalangan holda O'zbekiston respublikasi tarkibidagi hududlarni avval aholi soni bo'yicha, keyin esa hajmi bo'yicha tartiblab chiqaring

In [55]:
# Javobni shuyerga yozing
print ("Aholi soni bo'yicha tartiblash")
object11 = pd.Series(obj2, name = "Aholi soni")
object11.sort_values()

Aholi soni bo'yicha tartiblash

Farg'ona        648100
Jizzax          767500
Samarqand       910500
Qashqadaryo    1200000
Navoiy         1384700
Andijon        1676000
Surxondaryo    1862000
Xorazm         1899000
Sirdaryo       2029000
Toshkent       2322000
Buxoro         2597000
Namangan       4450000
Name: Aholi soni, dtype: int64

In [53]:
# Javobni shuyerga yozing
print ("Hudud hajmi bo'yicha tartiblash")
kv_metr.sort_values()

Hudud hajmi bo'yicha tartiblash

Andijon                            4200
Sirdaryo                           5100
Xorazm                             6300
Farg'ona                           6800
Namangan                           7900
Toshkent                          15300
Samarqand                         16400
Jizzax                            20500
Surxondaryo                       20800
Qashqadaryo                       28400
Buxoro                            39400
Navoiy                           110800
Qoraqalpog'iston Respublikasi    160000
Name: Hududlar hajmi, dtype: int64