<a href="https://colab.research.google.com/github/AbdullahTheAnalyst/Data-Science-and-AI-mohir_dev-/blob/NumPy-and-Pandas/Ma'lumotlarga_ishlov_berish_Ma'lumotlarni_tayyorlash_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv("database.csv")
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [51]:
import datetime as dt

In [16]:
hozir = dt.datetime.now()

In [14]:
dt.datetime.year

In [17]:
type(hozir)

datetime.datetime

In [18]:
print(hozir)

2024-11-21 05:25:11.934917

In [19]:
hozir.hour

5

In [20]:
hozir.minute

25

In [22]:
hozir.weekday()

3

In [23]:
hozir.year

2024

In [24]:
hozir.fold

0

In [26]:
hozir.isocalendar()

datetime.IsoCalendarDate(year=2024, week=47, weekday=4)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location Source             23412 non-null  object
 19  Magnitude Source            23412 non-null  object
 20  Status                      23412 non-null  object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [28]:
sana = df.at[0, "Date"]

In [71]:
# object qiymatni datetime formatiga o'tkazish uchun
# bu hammsi  bunaqa formatda bo'lmagani uchun natija yaxshi natija bermaydi
pd.to_datetime(df["Date"], format = "%m/%d/%Y")

ValueError: time data "1975-02-23T02:58:41.000Z" doesn't match format "%m/%d/%Y", at position 2095. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [52]:
# bu muammoni yechishda aynan bir xil yechim yo'q
# str bo'lgan Dateni uzunligini bilib olamiz
df["Date"].str.len()

0        10
1        10
2        10
3        10
4        10
         ..
23407    10
23408    10
23409    10
23410    10
23411    10
Name: Date, Length: 23412, dtype: int64

In [53]:
# 3 ta noodatiy bo'lgan qiymatlar mavjud
df["Date"].str.len().value_counts()

Date
10    23409
24        3
Name: count, dtype: int64

In [36]:
df[df["Date"].str.len() > 10].index

Index([3378, 7512, 20650], dtype='int64')

In [38]:
df[df["Date"].str.len() == 24]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
3378,1975-02-23T02:58:41.000Z,1975-02-23T02:58:41.000Z,8.017,124.075,Earthquake,623.0,NaN,NaN,5.6,MB,...,NaN,NaN,NaN,NaN,NaN,USP0000A09,US,US,US,Reviewed
7512,1985-04-28T02:53:41.530Z,1985-04-28T02:53:41.530Z,-32.998,-71.766,Earthquake,33.0,NaN,NaN,5.6,MW,...,NaN,NaN,NaN,NaN,1.30,USP0002E81,US,US,HRV,Reviewed
20650,2011-03-13T02:23:34.520Z,2011-03-13T02:23:34.520Z,36.344,142.344,Earthquake,10.1,13.9,289.0,5.8,MWC,...,NaN,32.3,NaN,NaN,1.06,USP000HWQP,US,US,GCMT,Reviewed

In [74]:
df.loc[3378, "Date"] = "02/23/1975"
df.loc[7512, "Date"] = "04/28/1985"
df.loc[20650, "Date"] = "03/13/2011"

In [75]:
df["Date"].str.len().value_counts()

Date
10    23412
Name: count, dtype: int64

In [42]:
df.shape

(23412, 21)

In [68]:
df.loc[2095, "Date"] = "01/01/1971"

In [76]:
# alohida df ga joylashtirish uchun
df["date_new"] = pd.to_datetime(df["Date"], format = "%m/%d/%Y")

In [78]:
df.tail()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,date_new
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed,2016-12-28
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed,2016-12-28
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed,2016-12-28
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed,2016-12-29
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed,2016-12-30

In [79]:
df.at[0, "date_new"]

Timestamp('1965-01-02 00:00:00')

In [80]:
df.at[0, "date_new"].weekday()

5

In [83]:
# oylarni chiqarishimiz mumkin
df["Months"] = df["date_new"].dt.month

In [84]:
# statistika uchun (mart oyida eng ko'p zilzila bo'lar ekan)
df["Months"].value_counts()

Months
3     2114
8     2014
12    2001
11    1987
9     1984
4     1971
5     1964
10    1952
1     1892
7     1880
2     1829
6     1824
Name: count, dtype: int64

In [85]:
df["Weekday"] = df["date_new"].dt.weekday

In [87]:
# eng ko'p shanba kuni zilzila bo'lar ekan
df["Weekday"].value_counts()

Weekday
5    3433
2    3431
4    3362
0    3349
3    3306
6    3287
1    3244
Name: count, dtype: int64

In [89]:
# bu formatga ham hamma rows ichidagi time elementlari tushmaydi
# endi Time columnni ham data cleaning qilishimiz kerak
df["time_new"] = pd.to_datetime(df["Time"], format = "%H:%M:%S")

ValueError: time data "1975-02-23T02:58:41.000Z" doesn't match format "%H:%M:%S", at position 3378. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [94]:
df["Time"].str.len()

0        8
1        8
2        8
3        8
4        8
        ..
23407    8
23408    8
23409    8
23410    8
23411    8
Name: Time, Length: 23412, dtype: int64

In [95]:
df[df["Time"].str.len() > 8]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,date_new,Months,Weekday
3378,02/23/1975,1975-02-23T02:58:41.000Z,8.017,124.075,Earthquake,623.0,NaN,NaN,5.6,MB,...,NaN,NaN,USP0000A09,US,US,US,Reviewed,1975-02-23,2,6
7512,04/28/1985,1985-04-28T02:53:41.530Z,-32.998,-71.766,Earthquake,33.0,NaN,NaN,5.6,MW,...,NaN,1.30,USP0002E81,US,US,HRV,Reviewed,1985-04-28,4,6
20650,03/13/2011,2011-03-13T02:23:34.520Z,36.344,142.344,Earthquake,10.1,13.9,289.0,5.8,MWC,...,NaN,1.06,USP000HWQP,US,US,GCMT,Reviewed,2011-03-13,3,6

In [96]:
df.loc[3378, "Time"] = "02:58:41"
df.loc[7512, "Time"] = "02:53:41"
df.loc[20650, "Time"] = "02:23:34"

In [100]:
df["Time"].str.len().value_counts()

Time
8    23412
Name: count, dtype: int64

In [102]:
df["Time_new"] = pd.to_datetime(df["Time"], format = "%H:%M:%S")
df

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,date_new,Months,Weekday,Time_new
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-02,1,5,1900-01-01 13:44:18
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-04,1,0,1900-01-01 11:29:49
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-05,1,1,1900-01-01 18:05:58
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-08,1,4,1900-01-01 18:49:43
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-09,1,5,1900-01-01 13:32:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,0.1898,NN00570710,NN,NN,NN,Reviewed,2016-12-28,12,2,1900-01-01 08:22:12
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,0.2187,NN00570744,NN,NN,NN,Reviewed,2016-12-28,12,2,1900-01-01 09:13:47
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,1.5200,US10007NAF,US,US,US,Reviewed,2016-12-28,12,2,1900-01-01 12:38:51
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,1.4300,US10007NL0,US,US,US,Reviewed,2016-12-29,12,3,1900-01-01 22:30:19
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,0.9100,US10007NTD,US,US,US,Reviewed,2016-12-30,12,4,1900-01-01 20:08:28