<a href="https://colab.research.google.com/github/AbdullahTheAnalyst/Data-Science-and-AI-mohir_dev-/blob/main/Series_ma'lumotlar_tuzulmasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd  # maxsus jadvallar bilan ishlash uchun kerak. Data Science uchun juda muhim. Katta-katta datalarga ishlov berish uchun juda muhim.

Pandas kutubxonasi asosan Dataframe va Series bilan ishlaydi.

In [2]:
import numpy as np

In [4]:
from pandas import Series # pandas Librarydan Seriesni import qilib oldik

In [6]:
obj = Series ([1, 2, 5, 6, 7.8])
type(obj)

pandas.core.series.Series

In [7]:
print (obj)

0    1.0
1    2.0
2    5.0
3    6.0
4    7.8
dtype: float64

In [8]:
obj.values # elementlarining qiymati

array([1. , 2. , 5. , 6. , 7.8])

In [9]:
obj.index # 0~5 gacha 1 pog'ona bo'yicha indekslari ro'yxati

RangeIndex(start=0, stop=5, step=1)

Series qiymatining listdan asosiy farqi, biz Seriesda index nomini o'zimiz berishimiz mumkin bo'ladi

In [14]:
obj2 = Series ([1,2,3,4,5], index = ["a", "b", "c", "d", "w"])
obj2

a    1
b    2
c    3
d    4
w    5
dtype: int64

In [16]:
obj2.index

Index(['a', 'b', 'c', 'd', 'w'], dtype='object')

In [17]:
obj2[["c", "d"]]  # indexlarning qiymatini aniqlash

c    3
d    4
dtype: int64

In [19]:
obj[2]**5 # elementni aniqlab, arifmetik amal bajarish

3125.0

In [23]:
obj2[obj2 > 3] #elementlari 3 dan katta sonlarni aniqladik

d    4
w    5
dtype: int64

In [24]:
np.exp(obj2) # numpy kutubxonasidan exponent sonini aniqladik

a      2.718282
b      7.389056
c     20.085537
d     54.598150
w    148.413159
dtype: float64